<form name="book">
  <div>
    <input name="checkin" [(ngModel)]="checkIn" type="date">
    <input name="checkout" [(ngModel)]="checkOut" type="date">
    <select name="country" [(ngModel)]="countryId">
      <option value="1">Iran</option>
      <option value="2">Turkey</option>
    </select>
    <button (click)="calculate()">Calculate</button>

    <div *ngIf="this.bookCalculation">
      <table border="1">
        <thead>
        <tr>
          <th>Penalty</th>
          <th>Day</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{this.bookCalculation.penalty}}{{this.bookCalculation.currencySign}}</td>
          <td>{{this.bookCalculation.businessDays}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="error-container" *ngIf="error">{{this.error}}</div>
</form>
